/* Expose BTN4 (button3) for PTT-lock toggle and LED1 (led0) for status indication. */
/ {
	aliases {
		sw3 = &button3;
		led0 = &led0;
		i2s-node0 = &i2s0;
	};
};

/* Provide dummy i2s and i2c definitions to satisfy MAX9867 backend constraints
 * during RELAY-only compilation. 
 */
&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	max9867_dummy: max9867@18 {
		compatible = "maxim,max9867";
		reg = <0x18>;
	};
};

&pinctrl {
	i2s0_dummy: i2s0_dummy {
		group1 {
			psels = <NRF_PSEL(I2S_SCK_M, 1, 15)>,
				<NRF_PSEL(I2S_LRCK_M, 1, 14)>,
				<NRF_PSEL(I2S_SDOUT, 1, 13)>,
				<NRF_PSEL(I2S_SDIN, 1, 12)>;
		};
	};
};

&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_dummy>;
	pinctrl-names = "default";
};

