/* Use ACLK/HFCLKAUDIO for stable 16 kHz I2S master clocking on nRF5340 Audio DK. */
&clock {
	hfclkaudio-frequency = <12288000>;
};

&i2s0 {
	clock-source = "ACLK";
};

/* Expose BTN4 (sw3) for PTT-lock toggle and LED1 (led0) for status indication. */
/ {
	aliases {
		sw3 = &button4;
		led0 = &rgb1_red;
		led1 = &rgb1_green;
	};
};
